// Copyright 2014 - 2019 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

div(ng-cloak, ng-controller="basketsController")
 .row
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 .row
  .col-md-3
   div(ng-hide="baskets.length != 0")
     h4
       a(href="#", ng-click="open_new_basket('sm')") {% trans "Create a basket" %} 
         i.glyphicon.glyphicon-plus

   ul.list-group
     div(ng-repeat="it in baskets")
        li.list-group-item.mouse-pointer(
          ng-class="{active: cur_basket.id == it.id}"
          ng-click="showBasket($index)"
          uib-popover="{{'baskets[$index].comment.substring(0,200)'|ng}}"
          popover-trigger="mouseenter"
          popover-placement="left") {{ " it.name " | ng }}
            span.badge {{ " it.length " | ng }}

  .col-md-9
   .row
    .col-md-6

     .btn-group
      .dropdown

         button#actions.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
           span.caret

         ul.dropdown-menu
           li
             a(href="#", title='', ng-click="open_new_basket('sm')") {% trans "Create a list" %} 
               i.glyphicon.glyphicon-plus

           li.divider(role="separator")
           li: a(href="/databasesearch/basket/{{ 'cur_basket.id'|ng }}/", target="_blank") {% trans "Set the supplier" %}

           li.divider(role="separator")
           li: a(href="#", ng-click="command()", title='{% trans "Mark all the cards to command" %}') {% trans "Command…" %}
           li: a(href="#", ng-click="receive_command()", title='{% trans "Receive a command and check you received all the books" %}') {% trans "Receive a command" %}…
           li: a(href="#", ng-click="return_to_supplier()", title='{% trans "Return the cards to the distributor of this basket." %}') {% trans "Return to supplier" %}…
           li.divider(role="separator")
           li: a(href="#", ng-click="delete_basket()", title='{% trans "Delete this list. This can not be undone" %}') {% trans "Delete this list" %}

     .btn-group
      .dropdown
       button.btn.btn-success.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
         span.caret

       ul.dropdown-menu
         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=txt&report=listing") txt

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=listing") {% trans "List" %} - csv

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=simplelisting") {% trans "isbn and quantity (Dilicom)" %} - csv

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&barcodes=true") {% trans "List, with barcodes" %} - pdf

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&barcodes=false&covers=true") {% trans "List, with covers" %} - pdf

     .btn-group
       button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers (d)" %}')
         i.glyphicon.glyphicon-th-list

       button.btn.btn-default(type="button", ng-click="showing_notes = ! showing_notes", title='{% trans "Show your notes (n)" %}')
         i.glyphicon.glyphicon-pencil

       button.btn.btn-default(ng-click="start_tour()")
           i.glyphicon.glyphicon-info-sign

       a.btn.btn-default(href="http://abelujo.cc/docs/lists/", target="_blank", title='{% trans "Read the documentation" %}')
         i.glyphicon.glyphicon-question-sign

    .col-md-2

    .col-md-6
       form#search
          p.input-group
            input.nullable.form-control#default-input(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
              placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
            )

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-search

   ul#supplier(ng-show="cur_basket.dist_repr")
     li {% trans "supplier" %}:  {{ 'cur_basket.dist_repr' | ng }}

   div(ng-show="showing_notes")
     div
       textarea(cols=80, rows=6, ng-model="cur_basket.comment")
     button.button.btn.btn-default(ng-click="save_basket()") {% trans "Save" %}

   div.middle(style="height: 30%; width: 30%"): em(ng-hide="copies.length") {% trans "This list has no books inside… yet." %}
   div.middle(ng-hide="copies.length", style="height: 80%; width: 30%")
     img(src="/static/search/bee.png", height="200px", style="opacity: 0.7")

   .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="copies.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="copies.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")

   table.table.table-condensed.table-striped(ng-cloak, ng-show="copies.length")
     thead
       th.mouse-pointer(ng-show="show_images")
       th.mouse-pointer(ng-click="sort_by('title')") {% trans "Title" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('pubs_repr')") {% trans "Publisher" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('distributor')") {% trans "Supplier" %}
         span.caret
       th {% trans "Created" %}
       th.mouse-pointer(ng-click="sort_by('quantity')") {% trans "In stock" %}
         span.caret
       th.mouse-pointer.text-right(ng-click="sort_by('price')") {% trans "Price" %}
         span.caret
       th#quantity.mouse-pointer(ng-click="sort_by('basket_qty')")
         span.caret


     tbody
       tr
         td(ng-show="show_images")
            .col-md-6

         td {% trans "Total" %}
         td
         td
         td
         td
         td {{ 'get_total_price()'|ng}} €
         td {{ 'get_total_copies()'|ng}}
         td

       tr.my-animated-item(
          ng-repeat="it in copies"
          ng-mouseenter="show_buttons[$index] = true"
          ng-mouseleave="show_buttons[$index] = false")

         td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="it.cover", src="{{ 'it.cover' | ng }}")
         td
           .col-md-12
            a(href="{{ 'it.get_absolute_url' | ng}}") {{ 'it.title' | ng }}
            div(ng-show="show_images") {{'it.authors_repr'|ng}}
         td {{ 'it.pubs_repr' | ng }}
         td {{ 'it.dist_repr' | ng }}

         td {{ 'it.created' | ng }}
         td.text-right {{ 'it.quantity' | ng}}
         td.text-right {{ 'it.price | number:2' | ng }} €
         td
          input.my-number-input(type="number", min=0, max=99,
            ng-model="it.basket_qty"
            ng-change="save_quantity($index)")
         td: i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="padding-left: 1em;", title='{% trans "Remove from basket" %}', ng-show="true || show_buttons[$index]")

   .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="copies.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="copies.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")


 script(type="text/ng-template", id="basketModal.html")
    div.modal-header
      h3.modal-title {% trans "Create a list" %}

    div.modal-body
      label {% trans "Name" %}
      input#default-input(type="text", ng-model="new_name")

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}
      button.btn(ng-click="cancel()") {% trans "Cancel" %}

{% endblock content %}