// Copyright 2014 - 2019 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.


// Front end code to share between different views that do an inventory (inventory_view, command_receive)

// The template needs to "extends base", start the block content,
//- declare variables (controller), and end the content block. See
//- inventory_view, command_receive.

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-controller=controller)
  .row
    .col-lg-4
      h3#title {% trans "Inventory of " %}{{ 'cur_inv' | ng }}

    div {{ 'alerts ' | ng }}
  form(method="get")

    .row
            div.col-md-4
              table.table.table-condensed
               tbody
                tr
                  td{% trans "Nb of cards" %}
                  td {{ 'nb_cards'| ng }}
                tr
                  td{% trans "nb of copies" %}
                  td {{ 'nb_copies'|ng }}
            div.col-md-4
              table.table.table-condensed
                tr
                  td(ng-show="total_missing >= 0") {% trans "It remains" %}
                  td {{ 'total_missing' |ng }} {% trans "non-inventoried cards in the stock." %}
            div.col-md-4
              table.table.table-condensed
                tr
                  td {% trans "Total value" %}
                  td {{ 'total_value' | ng }} €
                tr
                  td {% trans "with discount" %}
                  td {{ 'total_value_with_discount' | ng }} €

    .row
       .row
        .col-md-10
         .col-md-2
           btn.btn.btn-success(ng-click="terminate()") {% trans "Analyse…" %}
           a(href="http://abelujo.cc/docs/inventories/", target="_blank")
              btn.btn.btn-default( title='{% trans "Read the documentation" %}')
               i.glyphicon.glyphicon-question-sign

         .col-lg-8
          input(type="checkbox", ng-model="showAll", ng-change="setCardsToShow()")
          span(ng-click="toggleCardsToShow()") {% trans "Show all cards inventoried" %}

       .row
         .col-md-8
          p.input-group
              input.nullable.form-control(
                  type='text'
                  typeahead-loading="loadingCards"
                  ng-model='{% verbatim %}copy_selected{% endverbatim %}'
                  uib-typeahead='{% verbatim %} copy.repr for copy in getCards($viewValue, card_type_id) {% endverbatim %}'
                  typeahead-min-length="3"
                  typeahead-on-select="add_selected_card($item)"
                  title="{% trans 'Use TAB to validate your choice, Enter to proceed.'%}"
                  id="default-input"
                  placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
              )

              span.input-group-btn
                  button.btn.btn-default
                      i.glyphicon.glyphicon-search

         .col-md-4
                   div {{ 'progress_current' | ng }} %.
                     div.progress
                      div.progress-bar.progress-bar-info(role="progress-bar"
                        aria-valuenow="{{ progress_current }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        ng-style="progressStyle"
                        title="Inventory: {{ progress_current }}% done") {{ 'progress_current ' | ng }}
                        span.sr-only {{ 'progress_current ' | ng }}



  div(ng-show="cards_to_show.length > 0")
   .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="true")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="true || todo", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")

   table.table.table-condensed()
    thead
        tr
          th {% trans "Title" %}
          th {% trans "Author" %}
          th {% trans "Price" %}
          th {% trans "with discount" %}
          th {% trans "Quantity" %}
          th

    tbody
        tr.repeated-item(ng-show="cards_to_show", ng-repeat="card in cards_to_show")

         td.col-md-6
          a(href="{{ 'card.url ' | ng }}") {{ 'card.title' | ng }}
         td.col-md-3
          span {{ 'card.authors_repr' | ng }}
          i.glyphicon.glyphicon-warning-sign(
            ng-show="{% verbatim %} cards_to_show[$index].ambiguous_sell {% endverbatim %}"
            title="{% trans 'There is a conflict with deposits.' %}")
          i.glyphicon.glyphicon-exclamation-s

         td.col-md-1 {{ 'card.price' | ng }}  €

         td.col-md-1 {{ 'card.price_discounted' | ng }}  €

         td.col-md-2
            p.input-group
                label.sr-only {% trans "Quantity" %}
                span.input-group-addon X
                input.form-control(
                    type="number", min=0, max=99
                    ng-model="cards_to_show[$index].quantity"
                    ng-change="updateCard($index)"
                )

         td.col-md-1
           i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="float: right;")
