// Copyright 2014 - 2019 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Selling cards" %}
div.ng-cloak(ng-controller="sellController")

  div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  form(method='post', novalidate)

      .row
        .col-md-3
          form
            label {% trans "Date" %}
            p.input-group
              input.form-control(
                type='text'
                uib-datepicker-popup='{{"format"|ng}}'
                ng-model='date'
                is-open='opened'
                datepicker-options='dateOptions'
                ng-required='true'
                close-text='Close'
              )
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='open($event)')
                  i.glyphicon.glyphicon-calendar

        .col-md-3
          form
            label {% trans "Payment" %}
            select.form-control(
              ng-model="payment"
              ng-options="elt.name for elt in payment_means"
              required
            )

        .col-md-3
          form
            label {% trans "Place" %}
            select.form-control(
                ng-model="place"
                ng-options="it.name for it in places"
          )
        .col-md-3
          form
            label {% trans "Deposit" %}
            select.form-control(
              ng-model="deposit"
              ng-options="it.name for it in deposits"
          )


      .row
        .col-md-3
            span.input-group-btn
              label.sr-only {% trans "Card type" %}
              select.form-control(
                ng-model="card_type"
                ng-options="elt.name group by elt.group for elt in card_types"
                required
              )
        .col-md-9
          p.input-group
            input.nullable.form-control(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
              placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
            )
            i.glyphicon.glyphicon-search(ng-show='loadingCards')

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-search

      .row
        .col-md-3
          input.btn.btn-success(id="validateButton", type="submit", value="{% trans 'Validate' %}", ng-click="sellCards()")
          input.btn.btn.btn-default(type='button',value="{% trans 'Cancel' %}", ng-click="cancelCurrentData()")

          .btn-group
             a.btn.btn-default(role="button"
                               href="http://abelujo.cc/docs/sell/"
                               target="_blank",
                               title='{% trans "Read the documentation" %}')
               i.glyphicon.glyphicon-question-sign


      .row(ng-show="cards_selected.length > 0")
          h3.col-md-6 {{ 'getTotalCopies() ' | ng }} {% trans "titles selected. Total:" %} {{ 'total_price ' | ng }} €
          .col-md-2
          .col-md-1
            select(
              ng-options="elt.name for elt in discounts.choices"
              title='{% trans "Set this discount to all" %}'
              ng-model="discounts.global_discount"
              ng-change="discount_global()")


      .row(ng-show="cards_selected", ng-repeat="card in cards_selected")
        h4.col-md-6
          a(target="_blank", href="{{ 'card.get_absolute_url' | ng }}") {{ 'card.title' | ng }}

        //- .col-md-3
          span(ng-repeat="auth in card.authors")
            span {{ 'auth.fields.name' | ng }}
          i.glyphicon.glyphicon-warning-sign(
            ng-show="{% verbatim %} cards_selected[$index].ambiguous_sell {% endverbatim %}"
            title="{% trans 'There is a conflict with deposits.' %}")
          //- i.glyphicon.glyphicon-exclamation-s

        .col-md-2
            p.input-group
                label.sr-only {% trans "Price" %}
                input.form-control(
                  type="number", step="0.1", min=0
                  value="{{card.price_sold}}"
                  ng-model="{% verbatim %} cards_selected[$index].price_sold {% endverbatim %}"
                  ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
                )
                span.input-group-addon €

        .col-md-1
            select(
              ng-options="elt.name for elt in discounts.choices"
              title='{% trans "Choose a discount" %}'
              ng-model="cards_selected[$index].quick_discount"
              ng-change='discount_apply($index)'
              )

        .col-md-2
            p.input-group
                label.sr-only {% trans "Quantity" %}
                span.input-group-addon X
                input.form-control(
                  type="number", min=0, max=99
                  ng-model="{% verbatim %} cards_selected[$index].quantity {% endverbatim %}"
                  ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
                )

        .col-md-1
            i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="float: right;")




{% endblock content %}